.card{
    width: 20rem;
}


.midsection{
    min-height: 800px;
}



footer {
    margin-top: 50px;           
    background-color: rgb(0, 21, 78);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 10px;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

form{
    margin-top: 25px;
    margin-bottom: 700px;
}

.midsection {
    width: 100%;
    height: 300px;
}

.bg-cover {
    background-image: url('https://cdn.pixabay.com/photo/2014/08/02/11/40/high-bay-408222_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
